:root {
  --primary-color: #181818;
  --secondary-color: #ffca4c ;
  --tertiary-color: white;
  --quaternary-color: #bbbbbb;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--theme-color);
  color: var(--primary-color);
  text-align: center;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
